# broker information
BROKER_HOST=mosquitto
BROKER_PORT=9001
# client identification
CLIENT_ID=paho_backend
# publish timout to topic
PUBLISH_TIMEOUT=3
# the topic to publish status information
STATUS_TOPIC=mqtt/status
# command topic to change the state
COMMAND_TOPIC=mqtt/command
# Logging Level
LOGGING_LEVEL=INFO

LOG_FILE="{{ log_file }}"

# # raspi test new
BOT_TOKEN="{{ bot_token }}"
BOT_NAME="{{ bot_name }}"

# # Tex id
CHAT_IDS="{{ chat_ids }}"

RYZEN_MAC_ADDR="{{ ryzen_mac_addr }}"