version: "3.8"

services:
  mosquitto:
    image: eclipse-mosquitto
    restart: unless-stopped
    volumes:
      - /opt/raspi-home/mosquitto/config:/mosquitto/config
      - /opt/raspi-home/mosquitto/log:/mosquitto/log
      - /opt/raspi-home/mosquitto/data:/mosquitto/data
    ports:
      - 1883:1883
      - 9001:9001

  backend:
    image: "{{ private_docker_registry }}/{{ raspi_home_backend_image }}:{{ raspi_home_backend_image_tag }}"
    restart: unless-stopped
    privileged: true
    environment:
      - TZ=Europe/Rome
    volumes:
      - /opt/raspi-home/backend/.env.local:/opt/raspi-home/.env.local
      - /opt/raspi-home/{{ log_file }}:/opt/raspi-home/{{ log_file }}
    ports:
      - {{ flask_backend_port }}:5000

  alexa:
    image: "{{ private_docker_registry }}/{{ raspi_home_alexa_image }}:{{ raspi_home_alexa_image_tag }}"
    restart: unless-stopped
    volumes:
      - /opt/raspi-home/backend/.env.local:/opt/raspi-alexa/.env.local
    ports:
      - {{ alexa_http_port }}:3000

  webapp:
    image: "{{ private_docker_registry }}/{{ raspi_home_webapp_image }}:{{ raspi_home_webapp_image_tag }}"
    restart: unless-stopped
    ports:
      - {{ webapp_http_port }}:80 



